@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.dark header {
    background-color: #8a2be2;
    position: fixed;
    margin-left: 0px;
    z-index: 1000;
    height: 120px;
    width: 100%;
}

.dark .primeira h1 {
    color: black ;
}

.dark .primeira span {
    color: #2600ff;
}

.dark .primeira p {
    color: #000000;
}

.dark .primeira button {
    background-color: #000000;
    color: #ffffff;
}

.dark .especialidades {
    background-color: #8a2be2;
}

.dark .especialidades span {
    color: #00f7ff;
}

.dark .especialidades .especialidades-box {
    color: #00f7ff;
}

.dark .especialidades .especialidades-box i {
    color: #00f7ff;
}

.dark .sobre {
    background-color: #ffffff;
}

.dark .sobre h2 {
    color: #2600ff;
}

.dark .sobre .txt-sobre span {
    color: #000000;
}

.dark .sobre .txt-sobre p {
    color: #000000;
}

.dark .sobre .txt-sobre button {
    background-color: #000000;
}

.dark .sobre .txt-sobre i {
    background-color: #000000;
    color: #ffffff;
}

.dark .progresso {
    background-color: #8a2be2;
}

.dark .progresso .titulo span {
    color: #00f7ff;
}

.dark .progresso  h3 {
    color: #00f7ff;
}

.dark .progresso .especialidades-box  i {
    color: #00f7ff;
}

.dark .portifolio h2 {
    color: #000000;
}

.dark .portifolio span {
    color: #0004ff;
}

.dark .formulario span {
    color: #0004ff;
}

.dark .formulario h2 {
    color: #000000;
}

.dark .formulario input {
    background-color: #0004ff;
}

.dark .formulario textarea {
    background-color: #0004ff;
}

.dark .formulario .btn-enviar input {
    background-color: #0004ff;
    color: white;
}

.dark footer {
    background-color: #8a2be2;
    color: white;
}

.dark footer button{
    background-color: #000000;
    color: white;
}

.dark footer .line-footer{
    padding: 20px 0;
}

.dark footer .line-footer p {
    color: #ffffff;
}

.dark .borda {
    margin-top: -70px;
    border-top: 2px solid #ffffff;
}

.dark main {
    background-color: white;
}

.dark .nav-link {
    color: #ffffff;
}

.dark .dark-mode-button button i {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.dark .transparent {
    background-color: transparent !important;
    border: 2px solid #ffffff !important; 
    border-radius: 50px !important;
}

.transparent {
    background-color: transparent !important;
    border: 2px solid #ffffff !important; 
    border-radius: 50px !important;
}

.dark-mode-button button i {
    color: white;
    font-size: 20px;
}

body {
    background: #201b2c;
    overflow-x: hidden;
}

header {
    background-color: #201b2c;
    position: fixed;
    margin-left: 0px;
    z-index: 1000;
    height: 120px;
    width: 100%;
}

.nav-list li {
    position: relative;
    float: left;
    border-right: 1px solid #201b2c;
    border: none;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo > img {
    width: auto;
    margin-top: -90px;
    height: 250px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: -100px;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.56rem;
    color: #77ffc0;
    font-weight: 400;
    padding: 20px;
}

.nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left; 
    opacity: 0.7;
    transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
    margin-top: 20px;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #77ffc0;;
    background: transparent;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #273a3052;
}

.btn-other {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    opacity: 1;
}

.btn-other::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}
.btn-other:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btn-other::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}
.btn-other:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}


.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #77ffc0;;
    background: transparent;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #273a3052;
}

.btn-login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}

.btn-login:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}

.btn-login::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}

@keyframes go-up {
    0% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes go-back {
    0% {
        transform: translateX(1000px);
    }
    100% {
        transform: translateX(0);
    }
}

.btn-login:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

a {
    color: #FFF;
    text-decoration: none;
}
/* Desenvolvimento */
h1 {
    margin-top: -350px;
    color: #fff;
    text-transform: uppercase;
    margin-left: -80px;
    margin-right: 500px;
    font-weight: 800;
    font-size: 40px;
    animation: go-up 2s;
}

.primeira span {
    color: #00FF08;
    font-size: 42px;
}

p.paragrafo {
    color: #fff;
    margin-left: -80px;
    margin-right: 600px;
    text-align: justify;
    font-size: 16px;
    margin-bottom: 40px;
    animation: go-up 2s;
}

.text-box button {
    border: none;
    border-radius: 30px;
    height: 53px;
    width: 255px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: 600;
    background-color: #77ffc0;
    margin-left: -180px;
    margin-top: -6px;
    cursor: pointer;
    transition: .2s;
    animation: go-up 2s;
}

.button-1 button:hover {
    box-shadow: 0px 0px 8px #77ffc0;
    transform: scale(1.05);
}

.yo {
    width: 500px;
    height: 400px;
    border-radius: 20px;
    margin-left: 900px;
    margin-top: 160px;
    opacity: 1;
}

img.yo {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }
    100% {
        top: 30px;
    }
}

/* Section 2*/
section.especialidades {
    padding: 40px 4%;
    margin-top: 120px;
    height: 800px;
}

section.especialidades .flex {
    gap: 60px;
}

h2.titulo {
    color: #FFF;
    font-size: 38px;
    text-align: center;
    animation: go-back 2s;
    margin-top: 100px;
}

h2.titulo span {
    color: #00FF08;
}

.flex {
    display: flex;
}

.progresso .especialidades-box {
    color: #FFF;
    padding: 40px;
    border-radius: 20px;
    text-align: justify;
    transition: .2s;
    margin-left: -20px;
}

.especialidades .especialidades-box {
    color: #FFF;
    padding: 40px;
    border-radius: 20px;
    text-align: justify;
    transition: .2s;
}

.progresso .especialidades-box i {
    font-size: 70px;
    color: #00FF08;
}

.especialidades .especialidades-box i {
    font-size: 70px;
    color: #00FF08;
}

.progresso .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

.progresso .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #ffffff78;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #ffffff78;
}

.especialidades .especialidades-box {
    cursor: pointer;
}

.img-sobre img {
    width: 400px;
    height: 500px;
    border-radius: 20px;
    animation: go-up 2s;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
    margin-top: 60px;
}

section.sobre {
    margin-top: 120px;
}

.sobre .txt-sobre {
    color: #fff;
}

.txt-sobre {
    margin-left: 0px;
    margin-right: 0px;
    animation: go-back 2s;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #00FF08;
    display: block;
}

.sobre .txt-sobre p {
    margin: 10px 0px;
    margin-right: 0px;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #00FF08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
    margin-top: 20px;
}

.btn-social button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #ffffff78;
}

section.comeco {
    margin-top: 120px;
    height: 52rem;
}

section.portifolio {
    margin-top: 160px;
    margin-bottom: 400px;
}

section.portifolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-color: #687a69;
    margin-left: 85px;
    background-size: cover;
    background-position: 100% 0%;
    transition: .8s;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overplay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #FFF;
    opacity: 0;
    transition: .5s;
    cursor: pointer;
}

.overplay:hover {
    opacity: 1;
}

section.formulario {
    padding: 80px 4%;
    margin-top: 100px;
    margin-bottom: 400px;
}

form {
    max-width: 500px;
    margin: 0px auto ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea {
    width: 100%;
    background-color: #242424;
    border: none;
    outline: 0;
    padding: 20px 15px; 
    border-radius: 15px;
    color: #FFF;
    font-size: 18px;
}

form input::placeholder {
    color: #ffffff;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form textarea::placeholder {
  color: #ffffff;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #00FF08;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .5s;
}

form .btn-enviar input:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #ffffff78;
}

footer {
    padding: 60px 4%;
    margin-top: 50px;
}

footer .flex {
    justify-content: space-between;
}

.logo-footer img {
    width: auto;
    height: 250px;
    margin-top: -60px;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    margin-top: -70px;
    border-top: 2px solid #00FF08;
}

footer .line-footer p i{
    color: #00FF08;
    font-size: 22px;
}

footer .line-footer p a{
    color: #fff;
    margin-left: 5px;
    text-decoration: none;
}

section.progresso {
    padding: 40px 4%;
    margin-top: 250px;
}

section.progresso.flex {
    gap: 60px;
}

.box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 200px;
    border-radius: 5px;
    padding: 15px;
    margin-right: -200px;
}

.box-circle svg{
    width: 150px;
    height: 150px;
    position: relative;
    margin-top: -50px;
    margin-left: 20px;
}

.box-2 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 200px;
    border-radius: 5px;
    padding: 15px;
    margin-left: -400px;
    margin-right: 400px;
}

.box-circle-2 svg{
    width: 150px;
    height: 150px;
    position: relative;
    margin-top: -50px;
    margin-left: 23px;
}

.box-3 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 200px;
    border-radius: 5px;
    padding: 15px;
    margin-left: 100px;
}

.box-circle-3 svg{
    width: 150px;
    height: 150px;
    position: relative;
    margin-top: -50px;
    margin-left: 30px;
    margin-right: 30px;
}

circle {
    width: 150px;
    height: 150px;
    fill: none;
    stroke: #000;
    stroke-width: 10;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: #ffffff6e;
}

circle:nth-child(2) {
    stroke-dashoffset: calc(440 - 404.8);
    stroke: #00FF08;
}

.circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: #ffffff6e;
}

.circle:nth-child(2) {
    stroke-dashoffset: calc(440 - 308);
    stroke: #00FF08;
}

.circle-2:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: #ffffff6e;
}

.circle-2:nth-child(2) {
    stroke-dashoffset: calc(440 - 396);
    stroke: #00FF08;
}


.box-circle h3 {
    margin-left: 60px;
    margin-right: 60px;
    font-size: 35px;
    color: #FFF;
}

.box-circle-2 h3 {
    margin-left: 0px;
    font-size: 35px;
    color: #FFF;
}

.box-circle-3 h3 {
    margin-left: 45px;
    font-size: 35px;
    color: #FFF;
}

.number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.number-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.number-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.menucircular {
    display: none;
}

.linha {
    background-color: #aaa;
    width: 25px;
    height: 3px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    margin-left: -12px;
    margin-top: -1px;
}

.linha-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}

.linha-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.linha-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
}

.menucircular:checked + .menu-btn .linha-1 {
    -webkit-transform: translate3d(0, 0, 0)rotate(45deg);
    transform: translate3d(0, 0, 0)rotate(45deg);
}

.menucircular:checked + .menu-btn .linha-2 {
    -webkit-transform: translate3d(0, 0, 0)scale(0.1, 1.0);
    transform: translate3d(0, 0, 0)scale(0.1, 1.0);
}

.menucircular:checked + .menu-btn .linha-3 {
    -webkit-transform: translate3d(0, 0, 0)rotate(-45deg);
    transform: translate3d(0, 0, 0)rotate(-45deg);
}

.menu-2 {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 30px;
}

.menu-a i{
    margin-left: 19px;
}

.menu-btn, .menu-a {
    color: #FFF;
    width: 70px;
    height: 70px;
    line-height: 70px;
    position: absolute;
    border: 2px solid #282828;
    border-radius: 50%;
    background-color: #201b2c;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.2s ease-in-out;
}

.menu-btn {
    z-index: 2;
    cursor: pointer;
    -webkit-transform: scale(1.1, 1.1)translate3d(0, 0, 0);
    transform: scale(1.1, 1.1)translate3d(0, 0, 0);
    -webkit-transition-timing-function: cubic-bezier(cubic-bezier(.2,.9,.35,1.3));
    transition-timing-function: cubic-bezier(cubic-bezier(.2,.9,.35,1.3));
}

.menucircular:checked ~ .menu-a:nth-child(3) {
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: translate3d(0.1px, -100px, 0);
    transform: translate3d(0.1px, -100px, 0);
}

.menucircular:checked ~ .menu-a:nth-child(4) {
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transform: translate3d(90px, -50px, 0);
    transform: translate3d(90px, -50px, 0);
}

.menucircular:checked ~ .menu-a:nth-child(5) {
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transform: translate3d(90px, 50px, 0);
    transform: translate3d(90px, 50px, 0);
}

.menucircular:checked ~ .menu-a:nth-child(6) {
    -webkit-transition-duration: .45s;
    transition-duration: .45s;
    -webkit-transform: translate3d(0.1px, 100px, 0);
    transform: translate3d(0.1px, 100px, 0);
}

.menucircular:checked ~ .menu-a:nth-child(7) {
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transform: translate3d(-90px, -50px, 0);
    transform: translate3d(-90px, -50px, 0);
}

.menucircular:checked + .menu-btn {
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    -webkit-transform: scale(0.9, 0.9)translate3d(0, 0, 0);
    transform: scale(0.9, 0.9)translate3d(0, 0, 0);
}

.menucircular:checked ~ .menu-a {
    -webkit-transition-timing-function: cubic-bezier(.27, .68, .53, .3);
    transition-timing-function: cubic-bezier(.27, .68, .53, .3);
}

.menu-btn:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: inset 1px 1px 2px #00FF08, inset 1px -1px 2px #0340d0,
    inset -1px 1px 2px #efff0c, inset -1px -1px 2px #ff0000;
}

.ai-1 {
    background-color: #000000;
}

.ai-1:hover {
    background-color: #000000;
    color: #00FF08;
}

.ai-2 {
    background-color: #000000;
}

.ai-2:hover {
    background-color: #000000;
    color: #00FF08;
}

.ai-3 {
    background-color: #000000;
}

.ai-3:hover {
    background-color: #000000;
    color: #00FF08;
}

.ai-4 {
    background-color: #000000;
}

.ai-4:hover {
    background-color: #000000;
    color: #00FF08;
}

.ai-5 {
    background-color: #000000;
}

.ai-5:hover {
    background-color: #000000;
    color: #00FF08;
}

.container {
    position: relative;
    height: 0px;
}

.menu-2 {
    position: fixed;
    bottom: 0;
    top: 70%;
    left: -85%;
    z-index: 1000; 
}

@media screen and (min-width: 450px) and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
        margin-top: 20px;
        width: auto;
        height: auto;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
    .primeira h1 {
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }
    .primeira h1 span {
        font-size: 20px;
    }
    .primeira .paragrafo {
        font-size: 16px;
        margin-left: 60px;
        margin-right: 60px;
    }
    .button-1 {
        margin-left: 250px;
    }
    .especialidades .titulo {
        font-size: 20px;
    }
    section.especialidades .flex {
        flex-direction: column; 
        align-items: center; 
    }
    .especialidades .especialidades-box {
        width: 100%; 
        margin-bottom: 20px; 
        margin-left: 20px;
        margin-right: 20px;
    }
    h2.titulo {
        font-size: 20px; 
    }
    .especialidades .especialidades-box i {
        font-size: 30px; 
    }
    .especialidades .especialidades-box h3 {
        font-size: 20px; 
        margin: 10px 0;
    }
    .progresso .especialidades-box h3 {
        font-size: 20px;
    }
    .progresso .especialidades-box i {
        font-size: 30px;
    }
    .progresso .especialidades-box p {
        font-size: 15px;
    }
    .sobre .txt-sobre h2{
        font-size: 20px;
        margin-left: -440px;
        margin-right: -500px;
        margin-top: 200px;
    }
    .sobre .txt-sobre h2 span{
        font-size: 20px;
    }
    .sobre .txt-sobre p{
        font-size: 15px;
        margin-left: -440px;
        margin-right: 20px;
        margin-bottom: 340px;
    }
    .sobre .txt-sobre .btn-social {
        margin-left: -320px;
    }
    .sobre .img-sobre img {
        margin-top: 500px;
        margin-left: 175px;
        width: auto;
        height: 300px;
    }
    .portifolio .titulo {
        margin-top: 500px;
        font-size: 20px;
    }
    section.portifolio .flex {
        flex-direction: column; 
        align-items: center;
    }
    .progresso .box, .box-2, .box-3 {
        opacity: 0;
        margin-top: -300px;
    }
    .progresso.especialidades-box {
        margin-top: -30px;
    }
    .img-port {
        width: 70%; 
        height: 360px;
        margin: 0 0 40px;
    }
    .img-port:hover {
        background-position: 100% 0%; 
    }
    .overplay {
        font-size: 18px; 
    }
    footer {
        margin-top: 200px;
    }
    footer .line-footer {
        margin-top: -200px;
    }
    .interface .line-footer {
        margin-top: -80px;
    }
    footer .line-footer .btn-social {
        margin-top: -100px;
        margin-left: -225px;
        width: 500px;
    }
    footer .line-footer .logo-footer {
        margin-top: 10px;
    }
    .menu-2 {
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    .primeira h1 {
        font-size: 20px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }
    .primeira h1 span {
        font-size: 20px;
    }
    .primeira .paragrafo {
        font-size: 16px;
        margin-left: 60px;
        margin-right: 60px;
    }
    .button-1 {
        margin-left: 140px;
    }
    .especialidades .titulo {
        font-size: 20px;
    }
    section.especialidades .flex {
        flex-direction: column; 
        align-items: center; 
    }
    .especialidades .especialidades-box {
        width: 100%; 
        margin-bottom: 20px; 
        margin-left: 20px;
        margin-right: 20px;
    }
    h2.titulo {
        font-size: 20px; 
    }
    .especialidades .especialidades-box i {
        font-size: 30px; 
    }
    .especialidades .especialidades-box h3 {
        font-size: 20px; 
        margin: 10px 0;
    }
    .progresso .especialidades-box h3 {
        font-size: 20px;
    }
    .progresso .especialidades-box i {
        font-size: 30px;
    }
    .progresso .especialidades-box p {
        font-size: 15px;
    }
    .sobre .txt-sobre h2{
        font-size: 20px;
        margin-left: -300px;
        margin-right: -500px;
        margin-top: -250px;
    }
    .sobre .txt-sobre h2 span{
        font-size: 20px;
    }
    .sobre .txt-sobre p{
        font-size: 15px;
        margin-left: -340px;
        margin-right: 20px;
        margin-bottom: 340px;
    }
    .sobre .txt-sobre .btn-social {
        margin-left: -320px;
    }
    .sobre .img-sobre img {
        margin-top: 230px;
        margin-left: 75px;
        width: auto;
        height: 300px;
    }
    .portifolio .titulo {
        margin-top: 500px;
        font-size: 20px;
    }
    section.portifolio .flex {
        flex-direction: column; 
        align-items: center;
    }
    .img-port {
        width: 70%; 
        height: 360px;
        margin: 0 0 40px;
    }
    .img-port:hover {
        background-position: 100% 0%; 
    }
    .overplay {
        font-size: 18px; 
    }
    footer {
        margin-top: 200px;
    }
    footer .line-footer {
        margin-top: -200px;
    }
    .interface .line-footer {
        margin-top: -80px;
    }
    footer .line-footer .btn-social {
        margin-top: -100px;
        margin-left: -225px;
        width: 500px;
    }
    footer .line-footer .logo-footer {
        margin-top: 10px;
    }
    .menu-2 {
        display: none;
    }
}