@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

body {
    background: #201b2c;
    overflow-x: hidden;
    overflow-y: scroll;
}

.dark .dark-mode-button button i {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.dark .transparent {
    background-color: transparent !important;
    border: 2px solid #ffffff !important; 
    border-radius: 50px !important;
}

.transparent {
    background-color: transparent !important;
    border: 2px solid #ffffff !important; 
    border-radius: 50px !important;
}

.dark-mode-button button i {
    color: white;
    font-size: 20px;
}

.dark .nav-link {
    color: #ffffff;
}

.dark main {
    background-color: white;
}

.dark header {
    background-color: #8a2be2;
    position: fixed;
    margin-left: 0px;
    z-index: 1000;
    height: 120px;
    width: 100%;
}

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 6px; /* largura da barra de rolagem */
}

body::-webkit-scrollbar-thumb {
    background-color: #ccc; /* cor do indicador da barra de rolagem */
    border-radius: 3px; /* borda arredondada do indicador */
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #aaa; /* cor do indicador ao passar o mouse sobre ele */
}

.dark .dev {
    background-color: #8a2be2;
}

.dark .dev-2 {
    background-color: #8a2be2;
}

.dark .dev-2 h1 {
    color: #00f7ff;
}

.dark .dev-2 span {
    color: white;
}

.dark .dev-2 p {
    color: white;
}

.dark .dev-2 .h3-2 {
    color: white;
}

.dark .dev-2 .p-left span {
    color: #00f7ff;
}

.dark .dev-2 h3 {
    color: #00f7ff;
}

.dark .dev h1 {
    color: #00f7ff;
}

.dark .dev span {
    color: #fff;
}

.dark .dev p {
    color: #fff;
}

.dark .dev h3 {
    color: #fff;
}

section.dev {
    height: 900px;
}

header {
    background-color: #201b2c;
    position: fixed;
    margin-left: 0px;
    z-index: 1000;
    height: 120px;
    width: 100%;
}

.nav-list li {
    position: relative;
    float: left;
    border-right: 1px solid #201b2c;
    border: none;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo > img {
    width: auto;
    margin-top: -90px;
    height: 250px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: -100px;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.56rem;
    color: #77ffc0;
    font-weight: 400;
    padding: 20px;
}

.nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left; 
    opacity: 0.7;
    transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
    margin-top: 20px;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #77ffc0;;
    background: transparent;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #273a3052;
}

.img-other  {
    width: 650px;
    height: 500px;
    border-radius: 20px;
    margin-left: -100px;
    margin-top: 50px;
    transition: 0.3s;
    animation: go-up 2s;
}

.img-other:hover {
    transform: scale(0.95);
    opacity: 0.8;
}

.p-other {
    margin-top: -500px;
    animation: go-back 2s;
    margin-left: 650px;
    margin-right: -50px;
}

@keyframes go-back {
    0% {
        transform: translateX(1000px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes go-up {
    0% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0);
    }
}

.posic-ul {
    color: #53b9c7;
    margin-left: 850px;
    margin-top: 30px;
    font-family: "Open Sans";
    animation: go-back 2s;
}

.other-p {
    margin-top: 30px;
    animation: go-back 2s;
    margin-left: 670px;
    margin-right: -50px;
}

.img {
    width: 650px;
    height: 350px;
    border-radius: 20px;
    margin-left: -100px;
    margin-top: 70px;
    transition: 0.3s;
    animation: go-up 2s;
}

.img:hover {
    transform: scale(0.95);
    opacity: 0.8;
}

.dark h1 {
    color: #0340d0;
}

.dark  h1 span {
    color: #000000;
}

.dark  h3  {
    color: #000000;
}

.dark .p-other{
    color: #000000;
}

.dark .posic-ul {
    color: #ff00f2;
}

.dark .other-p {
    color: #000000;
}

.dark p {
    color: #000000;
}

.dark .position-p span {
    color: #8a2be2;
}

.dark .position2-p span {
    color: #8a2be2;
}

.dark .p-left span {
    color: #8a2be2;
}

.dark .sem-p{
    color: #8a2be2;
}

.dark footer {
    background-color: #8a2be2;
    color: white;
}

.dark footer button{
    background-color: #000000;
    color: white;
}

.dark footer .line-footer{
    padding: 20px 0;
}

.dark footer .line-footer p {
    color: #ffffff;
}

.dark .borda {
    margin-top: -70px;
    border-top: 2px solid #ffffff;
}

h1 {
    margin-top: 0px;
    font-size: 50px;
    text-align: center;
    color: #00FF08;
    font-weight: 800;
    font-family: "Orbitron";
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    animation: slideIn 2s ease forwards;
}

h3 {
    margin-top: 80px;
    margin-bottom: -20px;
    margin-left: 980px;
    color: #77ffc0;
    font-size: 25px;
    font-weight: 200;
    animation: go-back 2s;
}

p {
    margin-left: 700px;
    margin-right: -100px;
    text-align: justify;
    font-size: 20px;
    margin-top: -340px;
    color: #ffffff;
    font-weight: 200;
    font-family: "Open Sans";
    animation: go-back 2s;
}

.line {
    height: 10px;
    color: #00ff88;
    width: 100%;
    border: 2px solid ;
}

.position {
    margin-top: 200px;
    margin-left: 400px;
    font-weight: 200;
    font-size: 40px;
}

.position-p {
    margin-left: 20px;
    margin-right: -20px;
    margin-top: 80px;
    font-weight: 200;
}

.position-p span {
    color: #00FF08;
    font-weight: 400;
    text-transform: uppercase;
}

.position-exc {
    margin-top: 120px;
    border-radius: 20px;
    margin-left: 150px;
    width: 1000px;
    height: 500px;
    transition: 0.3s;
}

.position-exc:hover {
    transform: scale(0.95);
    opacity: 0.8;
}

.position2-p {
    margin-top: 120px;
    margin-left: 20px;
    margin-right: -20px;
    font-weight: 200;
    font-size: 20px;
}

.position2-p span {
    color: #00FF08;
    font-weight: 400;
    text-transform: uppercase;
}

.img-right {
    width: 650px;
    height: 350px;
    border-radius: 20px;
    margin-left: 750px;
    margin-top: 250px;
    transition: 0.3s;
    animation: go-up 2s;
}

.img-right:hover {
    transform: scale(0.95);
    opacity: 0.8;
}

.p-left {
    margin-left: -100px;
    margin-right: 700px;
    text-align: justify;
    font-size: 20px;
    margin-top: -350px;
    color: #ffffff;
    font-weight: 200;
    font-family: "Open Sans";
}

.p-left span {
    color: #00FF08;
    font-weight: 400;
    text-transform: uppercase;
}

P .sem-p {
    color: #00FF08;
    font-weight: 400;
    text-transform: uppercase;
}

.h3-2 {
    margin-top: 100px;
    margin-bottom: -20px;
    margin-left: 850px;
    color: #77ffc0;
    font-size: 25px;
    font-weight: 200;
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
    margin-left: 870px;
    margin-top: 40px;
    animation: go-back 2s;
}

.btn-one span {
    transition: all 0.3s;
}

.btn-one a {
    text-decoration: none;
    color: white;
}

.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
    border-radius: 20px;
}

.btn-one:hover span {
    letter-spacing: 2px;
}

.btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
}

.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
    border-radius: 20px;
}

.btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
}

.box-2 {
    margin-left: -780px;
}

.h3-3 {
    margin-left: 920px;
}

.btn-other {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}

.btn-other::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}
.btn-other:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btn-other::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}
.btn-other:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

footer {
    padding: 60px 4%;
}

footer .flex {
    justify-content: space-between;
}

.logo-footer img {
    width: auto;
    height: 250px;
    margin-top: -60px;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    margin-top: -70px;
    border-top: 2px solid #00FF08;
}

footer .line-footer p i{
    color: #00FF08;
    font-size: 22px;
}

footer .line-footer p a{
    color: #fff;
    margin-left: 5px;
    text-decoration: none;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #00FF08;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
    margin-top: 20px;
}

.flex {
    display: flex;
}

.line-footer .footer-p {
    margin-top: -10px;
    margin-left: 0px;
    padding: 10px 0;
}

.btn-social button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #ffffff78;
}

h1 span {
    color: #ffffff;
    font-size: 50px;
    font-weight: 800;
    font-family: "Orbitron";
    display: inline-block;
    position: relative;
}

@keyframes slideIn {
    from {
        left: -100%; 
    }
    to {
        left: 0; 
    }
}

.sem-p {
    color: #00ff88;
    text-transform: uppercase;
    font-weight: 200;
}

.menucircular {
    display: none;
}

.linha {
    background-color: #aaa;
    width: 25px;
    height: 3px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    margin-left: -12px;
    margin-top: -1px;
}

.linha-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}

.linha-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.linha-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
}

.menucircular:checked + .menu-btn .linha-1 {
    -webkit-transform: translate3d(0, 0, 0)rotate(45deg);
    transform: translate3d(0, 0, 0)rotate(45deg);
}

.menucircular:checked + .menu-btn .linha-2 {
    -webkit-transform: translate3d(0, 0, 0)scale(0.1, 1.0);
    transform: translate3d(0, 0, 0)scale(0.1, 1.0);
}

.menucircular:checked + .menu-btn .linha-3 {
    -webkit-transform: translate3d(0, 0, 0)rotate(-45deg);
    transform: translate3d(0, 0, 0)rotate(-45deg);
}

.menu-2 {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 30px;
}

.menu-a i{
    margin-left: 20px;
}

.menu-btn, .menu-a {
    color: #FFF;
    width: 70px;
    height: 70px;
    line-height: 70px;
    position: absolute;
    border: 2px solid #282828;
    border-radius: 50%;
    background-color: #201b2c;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.2s ease-in-out;
}

.menu-btn {
    z-index: 2;
    cursor: pointer;
    -webkit-transform: scale(1.1, 1.1)translate3d(0, 0, 0);
    transform: scale(1.1, 1.1)translate3d(0, 0, 0);
    -webkit-transition-timing-function: cubic-bezier(cubic-bezier(.2,.9,.35,1.3));
    transition-timing-function: cubic-bezier(cubic-bezier(.2,.9,.35,1.3));
}

.menucircular:checked ~ .menu-a:nth-child(3) {
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: translate3d(0.1px, -100px, 0);
    transform: translate3d(0.1px, -100px, 0);
}

.menucircular:checked ~ .menu-a:nth-child(4) {
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transform: translate3d(90px, -50px, 0);
    transform: translate3d(90px, -50px, 0);
}

.menucircular:checked ~ .menu-a:nth-child(5) {
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transform: translate3d(90px, 50px, 0);
    transform: translate3d(90px, 50px, 0);
}

.menucircular:checked ~ .menu-a:nth-child(6) {
    -webkit-transition-duration: .45s;
    transition-duration: .45s;
    -webkit-transform: translate3d(0.1px, 100px, 0);
    transform: translate3d(0.1px, 100px, 0);
}

.menucircular:checked ~ .menu-a:nth-child(7) {
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transform: translate3d(-90px, -50px, 0);
    transform: translate3d(-90px, -50px, 0);
}

.menucircular:checked + .menu-btn {
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    -webkit-transform: scale(0.9, 0.9)translate3d(0, 0, 0);
    transform: scale(0.9, 0.9)translate3d(0, 0, 0);
}

.menucircular:checked ~ .menu-a {
    -webkit-transition-timing-function: cubic-bezier(.27, .68, .53, .3);
    transition-timing-function: cubic-bezier(.27, .68, .53, .3);
}

.menu-btn:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: inset 1px 1px 2px #00FF08, inset 1px -1px 2px #0340d0,
    inset -1px 1px 2px #efff0c, inset -1px -1px 2px #ff0000;
}

.ai-1 {
    background-color: #000000;
}

.ai-1:hover {
    background-color: #000000;
    color: #00FF08;
}

.ai-2 {
    background-color: #000000;
}

.ai-2:hover {
    background-color: #000000;
    color: #00FF08;
}

.ai-3 {
    background-color: #000000;
}

.ai-3:hover {
    background-color: #000000;
    color: #00FF08;
}

.ai-4 {
    background-color: #000000;
}

.ai-4:hover {
    background-color: #000000;
    color: #00FF08;
}

.ai-5 {
    background-color: #000000;
}

.ai-5:hover {
    background-color: #000000;
    color: #00FF08;
}

.container {
    position: relative;
    height: 0px;
}

.menu-2 {
    position: fixed;
    bottom: 0;
    top: 70%;
    left: -85%;
    z-index: 1000; 
}

@media screen and (max-width: 768px) {
    .logo {
        opacity: 0;
    }
    
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .nav-link {
        font-size: 15px;
        display: flex;
        flex-direction: row;
        width: 2px;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        margin-top: 20px;
        width: auto;
        height: auto;
    }
    
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        text-align: center;
        padding-bottom: 1rem;
        margin-top: -190px;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: flex;
        margin-top: -200px;
    }
    .open {
        display: block;
    }

    .img-other, .img, .img-right, .position-exc {
        width: 100%;
        height: auto;
        border-radius: 0;
        margin-left: 0;
        margin-top: 0;
        animation: none;
    }

    .img-other, .img, .img-right:hover {
        transform: none;
        opacity: 0.1;
    }

    .p-other, .posic-ul, .other-p, p, .p-left, .h3 {
        margin-left: 0;
        margin-right: 0;
        font-size: 13px
    }

    h1 {
        margin-top: 20px;
        font-size: 30px;
        white-space: normal;
        overflow: visible;
        margin-bottom: 250px;
    }

    h1 span{
        margin-top: 20px;
        font-size: 30px;
        white-space: normal;
        overflow: visible;
    }


    .position {
        margin-top: 50px;
        margin-left: 0;
        font-size: 20px;
    }

    .position-p, .position2-p, .p-left, .sem-p {
        margin-top: 20px;
        font-size: 12px;
    }

    .menu-2 {
        position: fixed;
        bottom: 0;
        top: auto;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        z-index: 1000;
    }
}

@media  screen and (min-width: 768px) and (max-width: 900px) {
    header {
        position: absolute;
    }

    .logo {
        opacity: 1;
        margin-top: 10px;
        margin-left: -23px;
    }
    

    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
        padding: 20px;
    }

    .nav-link {
        font-size: 20px;
        display: flex;
        flex-direction: row;
        width: 2px;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        margin-top: 20px;
        width: auto;
        height: auto;
    }
    
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        text-align: center;
        padding-bottom: 1rem;
        margin-top: -200px;
        margin-left: 250px;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: flex;
        margin-top: -200px;
    }
    .open {
        display: block;
    }

    .img-other, .img, .img-right, .position-exc {
        width: 100%;
        height: auto;
        border-radius: 0;
        margin-left: 0;
        margin-top: 0;
        animation: none;
    }

    .img-other, .img, .img-right:hover {
        transform: none;
        opacity: 0.1;
    }

    .p-other, .posic-ul, .other-p, p, .p-left, .h3, .h3-2, .h3-3 {
        margin-left: 0;
        margin-right: 0;
        font-size: 15px
    }

    h1 {
        margin-top: 20px;
        font-size: 35px;
        white-space: normal;
        overflow: visible;
    }

    h1 span{
        margin-top: 20px;
        font-size: 35px;
        white-space: normal;
        overflow: visible;
    }

    .position {
        margin-top: 50px;
        margin-left: 50%;
        font-size: 25px;
    }

    .position-p, .position2-p, .p-left, .sem-p {
        margin-top: 20px;
        font-size: 15px;
    }

    .menu-2 {
        position: fixed;
        bottom: 0;
        top: auto;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        z-index: 1000;
    }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
    header {
        position: absolute;
    }

    .logo {
        opacity: 1;
        margin-top: 10px;
        margin-left: -23px;
    }

    .nav-list .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20 auto;
    }

    .menu .nav-item {
        padding: 30px;
        width: 50px;
    }

    .menu .nav-link {
        padding: 20px;
    }

    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: flex;
    }

    .nav-link {
        font-size: 20px;
        display: flex;
        flex-direction: row;
        width: 2px;
    }

    .img-other, .img, .img-right, .position-exc {
        width: 100%;
        height: auto;
        border-radius: 0;
        margin-left: 0;
        margin-top: 0;
        animation: none;
    }

    .img-other, .img, .img-right:hover {
        transform: none;
        opacity: 0.1;
    }

    .p-other, .posic-ul, .other-p, p, .p-left, .h3, .h3-2, .h3-3 {
        margin-left: 0;
        margin-right: 0;
        font-size: 15px
    }

    h1 {
        margin-top: 20px;
        font-size: 35px;
        white-space: normal;
        overflow: visible;
    }

    h1 span{
        margin-top: 20px;
        font-size: 35px;
        white-space: normal;
        overflow: visible;
    }

    .position {
        margin-top: 50px;
        margin-left: 50%;
        font-size: 25px;
    }

    .position-p, .position2-p, .p-left, .sem-p {
        margin-top: 20px;
        font-size: 15px;
    }

    .menu-2 {
        position: fixed;
        bottom: 0;
        top: auto;
        left: 0;
        right: 0;
        width: 100%;
        height: auto;
        z-index: 1000;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1400px) {
    .interface {
        max-width: 1280px;
        margin: 0 auto;
    }

    body {
        background: #201b2c;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .dark .dark-mode-button button i {
        color: rgb(255, 255, 255);
        font-size: 20px;
    }

    .dark .transparent {
        background-color: transparent !important;
        border: 2px solid #ffffff !important; 
        border-radius: 50px !important;
    }

    .transparent {
        background-color: transparent !important;
        border: 2px solid #ffffff !important; 
        border-radius: 50px !important;
    }

    .dark-mode-button button i {
        color: white;
        font-size: 20px;
    }

    .dark .nav-link {
        color: #ffffff;
    }

    .dark main {
        background-color: white;
    }

    .dark header {
        background-color: #8a2be2;
        position: fixed;
        margin-left: 0px;
        z-index: 1000;
        height: 120px;
        width: 100%;
    }

    html {
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

    body::-webkit-scrollbar {
        width: 6px;
        background-color: transparent;
    }

    .dark .dev {
        background-color: #8a2be2;
    }

    .dark .dev-2 {
        background-color: #8a2be2;
    }

    .dark .dev-2 h1 {
        color: #00f7ff;
    }

    .dark .dev-2 span {
        color: white;
    }

    .dark .dev-2 p {
        color: white;
    }

    .dark .dev-2 .h3-2 {
        color: white;
    }

    .dark .dev-2 .p-left span {
        color: #00f7ff;
    }

    .dark .dev-2 h3 {
        color: #00f7ff;
    }

    .dark .dev h1 {
        color: #00f7ff;
    }

    .dark .dev span {
        color: #fff;
    }

    .dark .dev p {
        color: #fff;
    }

    .dark .dev h3 {
        color: #fff;
    }

    section.dev {
        height: 900px;
    }

    header {
        background-color: #201b2c;
        position: fixed;
        margin-left: 0px;
        z-index: 1000;
        height: 120px;
        width: 100%;
    }

    .nav-list li {
        position: relative;
        float: left;
        border-right: 1px solid #201b2c;
        border: none;
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 6rem;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo > img {
        width: auto;
        margin-top: -90px;
        height: 250px;
    }

    .nav-list {
        display: flex;
        align-items: center;
    }

    .nav-list ul {
        display: flex;
        justify-content: center;
        list-style: none;
        margin-top: -100px;
    }

    .nav-item {
        margin: 0 15px;
    }

    .nav-link {
        text-decoration: none;
        font-size: 1.56rem;
        color: #77ffc0;
        font-weight: 400;
        padding: 20px;
    }

    .nav-link::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: #ffffff;
        visibility: hidden;
        transform: scaleX(0);
        transform-origin: left; 
        opacity: 0.7;
        transition: all 0.3s ease-in-out 0s;
    }

    .nav-link:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }

    .login-button button {
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        background-color: #0187a7;
        margin-top: 20px;
    }

    .login-button button a {
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        font-size: 1.1rem;
    }

    .mobile-menu-icon {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .btn-login {
        width: 100%;
        padding: 16px 0px;
        margin: 0px;
        border: none;
        border-radius: 8px;
        outline: none;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 3px;
        color: #77ffc0;;
        background: transparent;
        cursor: pointer;
        box-shadow: 0px 10px 40px -12px #273a3052;
    }

    .img-other  {
        width: 450px;
        height: 500px;
        border-radius: 20px;
        margin-left: 60px;
        margin-top: 50px;
        transition: 0.3s;
        animation: go-up 2s;
    }

    .img-other:hover {
        transform: scale(0.95);
        opacity: 0.8;
    }

    .p-other {
        margin-top: -500px;
        animation: go-back 2s;
        margin-left: 650px;
        margin-right: 50px;
        font-size: 15px;
    }

    @keyframes go-back {
        0% {
            transform: translateX(1000px);
        }
        100% {
            transform: translateX(0);
        }
    }

    @keyframes go-up {
        0% {
            transform: translateX(-1000px);
        }
        100% {
            transform: translateX(0);
        }
    }

    .posic-ul {
        color: #53b9c7;
        margin-left: 750px;
        margin-top: 30px;
        font-family: "Open Sans";
        animation: go-back 2s;
        font-size: 15px;
    }

    .other-p {
        margin-top: 30px;
        animation: go-back 2s;
        margin-left: 670px;
        margin-right: 50px;
        font-size: 15px;
    }

    .img {
        width: 550px;
        height: 350px;
        border-radius: 20px;
        margin-left: 50px;
        margin-top: 70px;
        transition: 0.3s;
        animation: go-up 2s;
    }

    .img:hover {
        transform: scale(0.95);
        opacity: 0.8;
    }

    .dark h1 {
        color: #0340d0;
    }

    .dark  h1 span {
        color: #000000;
    }

    .dark  h3  {
        color: #000000;
    }

    .dark .p-other{
        color: #000000;
    }

    .dark .posic-ul {
        color: #ff00f2;
    }

    .dark .other-p {
        color: #000000;
    }

    .dark p {
        color: #000000;
    }

    .dark .position-p span {
        color: #8a2be2;
    }

    .dark .position2-p span {
        color: #8a2be2;
    }

    .dark .p-left span {
        color: #8a2be2;
    }

    .dark .sem-p{
        color: #8a2be2;
    }

    .dark footer {
        background-color: #8a2be2;
        color: white;
    }

    .dark footer button{
        background-color: #000000;
        color: white;
    }

    .dark footer .line-footer{
        padding: 20px 0;
    }

    .dark footer .line-footer p {
        color: #ffffff;
    }

    .dark .borda {
        margin-top: -70px;
        border-top: 2px solid #ffffff;
    }

    h1 {
        margin-top: 0px;
        font-size: 50px;
        text-align: center;
        color: #00FF08;
        font-weight: 800;
        font-family: "Orbitron";
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        animation: slideIn 2s ease forwards;
    }

    h3 {
        margin-top: 80px;
        margin-bottom: -20px;
        margin-left: 780px;
        color: #77ffc0;
        font-size: 25px;
        font-weight: 200;
        animation: go-back 2s;
    }

    p {
        margin-left: 700px;
        margin-right: 90px;
        text-align: justify;
        font-size: 15px;
        margin-top: -340px;
        color: #ffffff;
        font-weight: 200;
        font-family: "Open Sans";
        animation: go-back 2s;
    }

    .line {
        height: 10px;
        color: #00ff88;
        width: 100%;
        border: 2px solid ;
    }

    .position {
        margin-top: 200px;
        margin-left: 400px;
        font-weight: 200;
        font-size: 40px;
    }

    .position-p {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 80px;
        font-weight: 200;
    }

    .position-p span {
        color: #00FF08;
        font-weight: 400;
        text-transform: uppercase;
    }

    .position-exc {
        margin-top: 120px;
        border-radius: 20px;
        margin-left: 150px;
        width: 1000px;
        height: 500px;
        transition: 0.3s;
    }

    .position-exc:hover {
        transform: scale(0.95);
        opacity: 0.8;
    }

    .position2-p {
        margin-top: 120px;
        margin-left: 20px;
        margin-right: 20px;
        font-weight: 200;
        font-size: 15px;
    }

    .position2-p span {
        color: #00FF08;
        font-weight: 400;
        text-transform: uppercase;
    }

    .img-right {
        width: 550px;
        height: 350px;
        border-radius: 20px;
        margin-left: 650px;
        margin-top: 250px;
        transition: 0.3s;
        animation: go-up 2s;
    }

    .img-right:hover {
        transform: scale(0.95);
        opacity: 0.8;
    }

    .p-left {
        margin-left: 80px;
        margin-right: 700px;
        text-align: justify;
        font-size: 15px;
        margin-top: -350px;
        color: #ffffff;
        font-weight: 200;
        font-family: "Open Sans";
    }

    .p-left span {
        color: #00FF08;
        font-weight: 400;
        text-transform: uppercase;
    }

    P .sem-p {
        color: #00FF08;
        font-weight: 400;
        text-transform: uppercase;
    }

    .h3-2 {
        margin-top: 100px;
        margin-bottom: -20px;
        margin-left: 850px;
        color: #77ffc0;
        font-size: 25px;
        font-weight: 200;
    }

    .btn {
        line-height: 50px;
        height: 50px;
        text-align: center;
        width: 250px;
        cursor: pointer;
    }

    .btn-one {
        color: #FFF;
        transition: all 0.3s;
        position: relative;
        margin-left: 870px;
        margin-top: 40px;
        animation: go-back 2s;
    }

    .btn-one span {
        transition: all 0.3s;
    }

    .btn-one a {
        text-decoration: none;
        color: white;
    }

    .btn-one::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-top-color: rgba(255,255,255,0.5);
        border-bottom-color: rgba(255,255,255,0.5);
        transform: scale(0.1, 1);
        border-radius: 20px;
    }

    .btn-one:hover span {
        letter-spacing: 2px;
    }

    .btn-one:hover::before {
        opacity: 1; 
        transform: scale(1, 1); 
    }

    .btn-one::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.3s;
        background-color: rgba(255,255,255,0.1);
        border-radius: 20px;
    }

    .btn-one:hover::after {
        opacity: 0; 
        transform: scale(0.1, 1);
    }

    .box-2 {
        margin-left: -780px;
    }

    .h3-3 {
        margin-left: 920px;
    }

    .btn-other {
        color: #FFF;
        transition: all 0.5s;
        position: relative;
    }

    .btn-other::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(255,255,255,0.1);
        transition: all 0.3s;
    }
    .btn-other:hover::before {
        opacity: 0 ;
        transform: scale(0.5,0.5);
    }

    .btn-other::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
        border: 1px solid rgba(255,255,255,0.5);
        transform: scale(1.2,1.2);
    }
    
    .btn-other:hover::after {
        opacity: 1;
        transform: scale(1,1);
    }

    footer {
        padding: 60px 4%;
    }

    footer .flex {
        justify-content: space-between;
    }

    .logo-footer img {
        width: auto;
        height: 250px;
        margin-top: -60px;
    }

    footer .line-footer {
        padding: 20px 0;
    }

    .borda {
        margin-top: -70px;
        border-top: 2px solid #00FF08;
    }

    footer .line-footer p i{
        color: #00FF08;
        font-size: 22px;
    }

    footer .line-footer p a{
        color: #fff;
        margin-left: 5px;
        text-decoration: none;
    }

    .btn-social button {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        border: none;
        background-color: #00FF08;
        font-size: 22px;
        cursor: pointer;
        margin: 0 5px;
        transition: .2s;
        margin-top: 20px;
    }

    .flex {
        display: flex;
    }

    .line-footer .footer-p {
        margin-top: -10px;
        margin-left: 0px;
        padding: 10px 0;
    }

    .btn-social button:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px #ffffff78;
    }

    h1 span {
        color: #ffffff;
        font-size: 50px;
        font-weight: 800;
        font-family: "Orbitron";
        display: inline-block;
        position: relative;
    }

    @keyframes slideIn {
        from {
            left: -100%; 
        }
        to {
            left: 0; 
        }
    }

    .sem-p {
        color: #00ff88;
        text-transform: uppercase;
        font-weight: 200;
    }

    .menucircular {
        display: none;
    }

    .linha {
        background-color: #aaa;
        width: 25px;
        height: 3px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        margin-left: -12px;
        margin-top: -1px;
    }

    .linha-1 {
        -webkit-transform: translate3d(0, -8px, 0);
        transform: translate3d(0, -8px, 0);
    }

    .linha-2 {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .linha-3 {
        -webkit-transform: translate3d(0, 8px, 0);
        transform: translate3d(0, 8px, 0);
    }

    .menucircular:checked + .menu-btn .linha-1 {
        -webkit-transform: translate3d(0, 0, 0)rotate(45deg);
        transform: translate3d(0, 0, 0)rotate(45deg);
    }

    .menucircular:checked + .menu-btn .linha-2 {
        -webkit-transform: translate3d(0, 0, 0)scale(0.1, 1.0);
        transform: translate3d(0, 0, 0)scale(0.1, 1.0);
    }

    .menucircular:checked + .menu-btn .linha-3 {
        -webkit-transform: translate3d(0, 0, 0)rotate(-45deg);
        transform: translate3d(0, 0, 0)rotate(-45deg);
    }

    .menu-2 {
        width: 70px;
        height: 70px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        font-size: 30px;
    }

    .menu-a i{
        margin-left: 20px;
    }

    .menu-btn, .menu-a {
        color: #FFF;
        width: 70px;
        height: 70px;
        line-height: 70px;
        position: absolute;
        border: 2px solid #282828;
        border-radius: 50%;
        background-color: #201b2c;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all 0.2s ease-in-out;
    }

    .menu-btn {
        z-index: 2;
        cursor: pointer;
        -webkit-transform: scale(1.1, 1.1)translate3d(0, 0, 0);
        transform: scale(1.1, 1.1)translate3d(0, 0, 0);
        -webkit-transition-timing-function: cubic-bezier(cubic-bezier(.2,.9,.35,1.3));
        transition-timing-function: cubic-bezier(cubic-bezier(.2,.9,.35,1.3));
    }

    .menucircular:checked ~ .menu-a:nth-child(3) {
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-transform: translate3d(0.1px, -100px, 0);
        transform: translate3d(0.1px, -100px, 0);
    }

    .menucircular:checked ~ .menu-a:nth-child(4) {
        -webkit-transition-duration: .35s;
        transition-duration: .35s;
        -webkit-transform: translate3d(90px, -50px, 0);
        transform: translate3d(90px, -50px, 0);
    }

    .menucircular:checked ~ .menu-a:nth-child(5) {
        -webkit-transition-duration: .4s;
        transition-duration: .4s;
        -webkit-transform: translate3d(90px, 50px, 0);
        transform: translate3d(90px, 50px, 0);
    }

    .menucircular:checked ~ .menu-a:nth-child(6) {
        -webkit-transition-duration: .45s;
        transition-duration: .45s;
        -webkit-transform: translate3d(0.1px, 100px, 0);
        transform: translate3d(0.1px, 100px, 0);
    }

    .menucircular:checked ~ .menu-a:nth-child(7) {
        -webkit-transition-duration: .35s;
        transition-duration: .35s;
        -webkit-transform: translate3d(-90px, -50px, 0);
        transform: translate3d(-90px, -50px, 0);
    }

    .menucircular:checked + .menu-btn {
        -webkit-transition: all .5s linear;
        transition: all .5s linear;
        -webkit-transform: scale(0.9, 0.9)translate3d(0, 0, 0);
        transform: scale(0.9, 0.9)translate3d(0, 0, 0);
    }

    .menucircular:checked ~ .menu-a {
        -webkit-transition-timing-function: cubic-bezier(.27, .68, .53, .3);
        transition-timing-function: cubic-bezier(.27, .68, .53, .3);
    }

    .menu-btn:hover {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        box-shadow: inset 1px 1px 2px #00FF08, inset 1px -1px 2px #0340d0,
        inset -1px 1px 2px #efff0c, inset -1px -1px 2px #ff0000;
    }

    .ai-1 {
        background-color: #000000;
    }

    .ai-1:hover {
        background-color: #000000;
        color: #00FF08;
    }

    .ai-2 {
        background-color: #000000;
    }

    .ai-2:hover {
        background-color: #000000;
        color: #00FF08;
    }

    .ai-3 {
        background-color: #000000;
    }

    .ai-3:hover {
        background-color: #000000;
        color: #00FF08;
    }

    .ai-4 {
        background-color: #000000;
    }

    .ai-4:hover {
        background-color: #000000;
        color: #00FF08;
    }

    .ai-5 {
        background-color: #000000;
    }

    .ai-5:hover {
        background-color: #000000;
        color: #00FF08;
    }

    .container {
        position: relative;
        height: 0px;
    }

    .menu-2 {
        position: fixed;
        bottom: 0;
        top: 70%;
        left: -85%;
        z-index: 1000; 
        display: none;
    }

}