* {
    margin: 0;
    box-shadow: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background: #201b2c;
    overflow-x: hidden;
}

.dark .transparent {
    background-color: transparent !important;
    border: 2px solid #ffffff !important; 
    border-radius: 50px !important;
}

.transparent {
    background-color: transparent !important;
    border: 2px solid #ffffff !important; 
    border-radius: 50px !important;
}

.dark-mode-button button i {
    color: white;
    font-size: 20px;
}

.interface {
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* ou outra opção de alinhamento desejada */
}

.dark header {
    background-color: #8a2be2;
    position: fixed;
    margin-left: 0px;
    z-index: 1000;
    height: 120px;
    width: 100%;
}

header {
    background-color: #201b2c;
    margin-left: 0px;
    z-index: 1000;
    height: 120px;
    width: 100%;
}

.nav-list li {
    position: relative;
    float: left;
    border-right: 1px solid #201b2c;
    border: none;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo > img {
    width: auto;
    margin-top: -90px;
    height: 250px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: -100px;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.56rem;
    color: #77ffc0;
    font-weight: 400;
    padding: 20px;
}

.nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    visibility: hidden;
    transform: scaleX(0);
    transform-origin: left; 
    opacity: 0.7;
    transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
    margin-top: 20px;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

div.proj-box {
    background: #00258b;
    color: #fff;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    margin-top: 200px;
}

h3 {
    color: rgb(0, 255, 242);
    text-align: left;
    margin-top: 15px;
    padding-bottom: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    margin-left: 20px;
    font-weight: 700;
}

p {
    margin-left: 20px;
    padding-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 13px;
}

#line-vertical {
    width: 297px;
    border: 1px solid #ffffff;
}

span {
    color: #00fbff;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

img {
    width: 280px;
    border-radius: 10px;
    margin-left: 8px;
    margin-top: 6px;
}

.icon {
    width: 25px;
    border-radius: 600px;
    margin-top: 15px;
    margin-left: 20px;
}

.dev {
    margin-left: 55px;
    padding-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin-top: -25px;
}

.glow-on-hover {
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

a {
    text-decoration: none;
}

.principal {
    height: 150px;
}

body::-webkit-scrollbar {
    width: 6px; /* largura da barra de rolagem */
}

body::-webkit-scrollbar-thumb {
    background-color: #ccc; /* cor do indicador da barra de rolagem */
    border-radius: 3px; /* borda arredondada do indicador */
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #aaa; /* cor do indicador ao passar o mouse sobre ele */
}

@media screen and (max-width: 768px) {
    .logo {
        opacity: 0;
    }
    
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .nav-link {
        font-size: 15px;
        display: flex;
        flex-direction: row;
        width: 2px;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        margin-top: 20px;
        width: auto;
        height: auto;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        text-align: center;
        padding-bottom: 1rem;
        margin-top: -190px;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: flex;
        margin-top: -200px;
    }
    .open {
        display: block;
    }

    .proj-box {
        width: 100%;
        margin: 10px 0;
    }

    .interface {
        flex-direction: column;
        align-items: center;
    }

    .line-vertical {
        display: none;
    }

    .icon {
        max-width: 30px;
    }

    .glow-on-hover {
        width: calc(50% - 50px); 
    }
}

@media  screen and (min-width: 768px) and (max-width: 900px) {
    header {
        position: relative;
    }

    .logo {
        opacity: 1;
        margin-top: 10px;
        margin-left: -23px;
    }
    

    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
        padding: 20px;
    }

    .nav-link {
        font-size: 20px;
        display: flex;
        flex-direction: row;
        width: 2px;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        margin-top: 20px;
        width: auto;
        height: auto;
    }
    
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        text-align: center;
        padding-bottom: 1rem;
        margin-top: -200px;
        margin-left: 250px;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: flex;
        margin-top: -200px;
    }
    .open {
        display: block;
    }

    .proj-box {
        width: 100%;
        margin: 10px 0;
    }

    .interface {
        flex-direction: column;
        align-items: center;
    }

    .line-vertical {
        display: none;
    }

    .icon {
        max-width: 30px;
    }

    .glow-on-hover {
        width: calc(50% - 50px); 
    }
}

@media screen and (min-width: 900px) and (max-width: 1100px){
    header {
        position: relative;
    }

    .logo {
        opacity: 1;
        margin-top: 10px;
        margin-left: -23px;
    }

    .nav-list .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20 auto;
    }

    .menu .nav-item {
        padding: 30px;
        width: 50px;
    }

    .menu .nav-link {
        padding: 20px;
    }

    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: flex;
    }

    .nav-link {
        font-size: 20px;
        display: flex;
        flex-direction: row;
        width: 2px;
    }
}

